/* 
* @Author: Marte
* @Date:   2018-10-25 16:04:00
* @Last Modified by:   Marte
* @Last Modified time: 2018-10-27 16:59:24
*/
#header{
    height: 85px;
    border-bottom:2px solid red;
}
#body{
    height: 1000px;
    background: #CCCCCC;
}
#body .bodybox{
    height: 1000px;
    background: #fff;
}