/* 
* @Author: Marte
* @Date:   2018-10-19 17:57:28
* @Last Modified by:   Marte
* @Last Modified time: 2018-10-27 16:14:35
*/
#headbar{
    width: 100%;
    height: 30px;
}
#headbar .headbar1{
    height: 30px;
    background: #ffffff;
}
#headbar .headbar1 .right-show{
    width: 575px;
    height: 30px;
    background: #ffffff;
}
#headbar .headbar1 .right-show .login-show{
    width: 250px;
    height: 28px;
    background: #ffffff;
    float:left;
}
#headbar .headbar1 .right-show .bag-show{
    width:150px;
    height: 30px;
    float:left;
}
#headbar .headbar1 .right-show .other-show{
    width:85px;
    height: 29px;
    float:left;
}
#headbar .headbar1 .right-show .other-show .normal-box01{
    position:absolute;
    display:none;
    z-index: 999;
}
#headbar .headbar1 .right-show .login-show .login-show-a{
    font-size:12px;
    color:grey;
}
#headbar .headbar1 .right-show .bag-show .bag-a{
    display:inline-block;
    font-size:12px;
    color:grey;
    margin-top:5px;
}
#headbar .headbar1 .right-show .other-show .normal-box01-a{
    font-size:12px;
    color:grey;
}
#headbar .headbar1 .right-show .other-show .show01a{
    font-size:12px;
    color:grey;
}
#headbar .headbar1 .normal-box01>ul>li>a{
    font-size:12px;
    color:grey;
}
.goodsche_a{
    font-size:12px;
    color:red;
}





#header{
    width:100%;
    height:125px;
}
#header .area{
    height: 85px;
    background: #ffffff;
}
#header .mainNav{
    height:36px;
    background: #ffffff;
    border-bottom:2px solid red;
}
#header .area .juan-logo{
    display:block;
    width: 210px;
    height: 53px;
    float:left;
    background:url(../img/top.png) no-repeat center center;
    margin-top:15px;
}
#header .area .protection{
    float:left;
    margin-left:190px;
    width:465px;height: 33px;
    background: url(../img/juanpiqiang.png) no-repeat center center;margin-top:25px;
}
#header .area .protection .pro_a1{
    display:block;
    float:left;
    width:153px;
    height: 33px;
}
#header .area .search .search-area{
    display:block;
    width: 200px;
    height:35px;
    background: #ffffff;
    margin-top:25px;
   margin-left:97px;

}
#header .area .search .search-area .txt {
    border: 0 none;
    outline: 0 none;
    background: #efefef;
    width: 190px;
    height: 30px;
    line-height: 30px;
    margin: 2px 0 0 10px;
    color: grey;
}
#header .area .search .smt {
    background:url(../img/btn_submit.png);
    border: 0 none;
    cursor: pointer;
    height: 35px;
    width: 37px;
    margin-top:23px;
}
.mainNav .nav .navigation .nav_li1{
    float:left;
}
.mainNav .nav .navigation .current>a{
    display:block;
    width: 76px;
    height: 36px;
    text-align:center;
    line-height: 35px;
    font-size:14px;
    color:#ffffff;
    background: red;
    border-radius:7px 7px 0 0;
}
.mainNav .nav .navigation .nav_li1 .nav_li1_a{
    display:block;
    width: 104px;
    height: 36px;
    text-align: center;
    line-height: 35px;
    font-size:14px;
    color:black;
}



#body{
    width:100%;
}
#body .bodybox{
    /*height: 1000px;*/
    background: #ffffff;
}
#body .bodybox .banner{
    height: 380px;
    width:1200px;
    background: #ffffff;
}
#body .bodybox .banner .bannerNav{
    height: 380px;
    width: 210px;
    background: #ffffff;
    float:left;
}
#body .bodybox .banner .bannerNav .navdl .navdd{
    float:left;
    width: 95px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-bottom:1px dashed grey;
    
}
#body .bodybox .banner .bannerNav .navdl .navdd>a{
    color:black;
    font-size:16px;
}




/*轮播图样式*/
#body .bodybox .banner .swiper-container{
    height:360px;
    width:700px;
    background:#ffffff;
    float:left;
    margin-left:15px;
}

.swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    color: #fff;
    background: #666;
    font-size: 12px;
}
            
.swiper-pagination-bullet-active {
    color: #fff;
    background: orangered;
}
/*#body .bodybox .banner .bannerLunbo .slider{
    width: 700px;
    height: 380px;
    position: relative;
    overflow: hidden;
}
#body .bodybox .banner .bannerLunbo .slider .slider_img{
    height: 360px;
    width: 700px;
}
#body .bodybox .banner .bannerLunbo .slider .slider_img>li{
    height: 360px;
    width: 700px;
    position:absolute;
    left:0px;
    top:0px;
}*/
            /*#slider{
                width: 700px;
                height: 360px;
                position: relative;
                margin-top:10px;
                overflow: hidden;
                /*border: 1px solid #000;*/
            }*/
            /*图片的样式*/
           /* #slider_img{
                
                width: 700px;
                height: 360px;
            }
            #slider_img li{
                width: 700px;
                height: 360px;
                position: absolute;
                left: 0;
                top: 0;
            }*/
            /*焦点的样式*/
           /* #light{
                width:700px;
                position: absolute;
                left: 0;
                bottom: 0;
                text-align: center;
            }
            #light span{
                display: inline-block;
                width: 24px;
                height: 24px;
                background: url(../img/icon.png) no-repeat -24px -780px;
            
                text-indent: -99999px;
                cursor: pointer;
                margin: 0 5px; 
            }
            #light .active{
                background: url(../img/icon.png) no-repeat -0px -760px;
            }*/
            /*左右按钮*/
           /* #posi_ctrl{
                position: absolute;
                top: 50%;
                width: 700px;
                height: 35px;
                margin-top:-17px ;
               
                z-index: 5;
                cursor: pointer;
            }
            #posi_ctrl span{
                position: absolute;
                width: 30px;
                height: 35px;
                
            }
            #posi_ctrl #prev{
                left: 10px;
                background: url(../img/icon.png) no-repeat;
            }
            #posi_ctrl #next{
                right: 10px;
                background: url(../img/icon.png) 0 -44px no-repeat;
            }
*/






#body .bodybox .banner .bannerPinpai{
    height:380px;
    width:250px;
    background: #ffffff;
    float:left;
    margin-left:15px;
}
#body .bodybox .banner .bannerPinpai .ppdl{
    margin-top:12px;
}
#body .bodybox .banner .bannerPinpai .ppdl .ppdd{
    float: right;
    display: inline;
    width: 124.5px;
    height: 119px;
    overflow: hidden;
    text-align: center;
    background-color: #fff; 
}

#body .bodybox .new-users{
    width: 1200px;
    height: 63px;
    background: #ffffff;
    margin-top:30px;
}
#body .bodybox .new-users .alltype{
    height: 63px;
    width: 100px;
    float:right;
}
#body .bodybox .new-users .alltype>a{
    font-size:12px;
    color:grey;
    line-height: 63px;
}
#body .bodybox .new-users .today{
   height: 63px;
    width: 230px;
    float:left;
    font-size:16px;
    color:black;
    line-height: 63px;
}

#body .bodybox .todaypp{
    width: 1180px;
    height: 205px;
    background: #fff;
    margin-left:10px;
}
#body .bodybox .todaypp .tm_ul{
    float:left;
}
#body .bodybox .todaypp .tm_ul .tm_li{
    float:left;
    width: 280px;
    height: 170px;
    margin:0 5px;
} 
#body .bodybox .todaypp .tm_ul .tm_li>a>img{
    width: 278px;
    height: 130px;
}
#body .bodybox .todaypp .tm_ul .tm_li>a .tm_box{
    width:278px;
    height: 40px;
}
#body .bodybox .todaypp .tm_ul .tm_li>a .tm_box .tm_num{
    display:inline-block;
    float:left;
    width: 58px;
    height: 20px;
    margin-top:9px;
    margin-left:5px;
    font-size:12px;
    color:black;
}
#body .bodybox .todaypp .tm_ul .tm_li>a .tm_box .tm_enter{
    display:inline-block;
    float:right;
    width: 56px;
    height: 18px;
    margin-top:10px;
    margin-right:5px;
    font-size:14px;
    line-height: 18px;
    color:red;
}
#body .bodybox .todaypp .tm_more{
    float:left;
    width: 1190px;
    height: 35px;
    background: #fff;
}
#body .bodybox .todaypp .tm_more>li{
    float:left;
}
#body .bodybox .todaypp .tm_more>li>a>img{
    height: 35px;
    width: 70px;
}
#body .bodybox .todaypp .tm_more .more_li1{
    width: 100px;
    height: 35px;
    margin:0 7px;
    font-size: 12px;
    line-height: 35px;

}
#body .bodybox .todaypp .tm_more .more_li{
    width: 100px;
    height: 35px;
    margin:0 10px;
}
#body .bodybox .todaypp .tm_more .more_li2>a{
    height: 35px;
    line-height: 35px;
    font-size:12px;
    color:red;
}
#body .bodybox .goodslist{
    width: 1200px;
    height: 2730px;
    background: #fff;
    /*text-align: center;*/
}
#body .bodybox .goodslist .goodslistul{
    margin-left:15px;
    width: 1200px;
}
#body .bodybox .goodslist .goodslistul>li{
    float:left;
    width: 226px;
    height: 288px;
    background: #fff;
    margin:0px 6px 12px 0px;
    box-sizing: border-box;
    /*border:1px solid #FFCCCC;*/
}
#body .bodybox .goodslist .goodslistul>li .goodsimg{
    height: 220px;
    width: 220px;
}
#body .bodybox .goodslist .goodslistul>li .goodsprice{
    height: 32px;
    line-height: 32px;
    margin-left:5px;
}
#body .bodybox .goodslist .goodslistul>li .goodsprice .cprice{
    color:red;

}
#body .bodybox .goodslist .goodslistul>li .goodsprice .oprice{
    font-size:12px;
    color:grey;
}
#body .bodybox .goodslist .goodslistul>li .goodstitle{
    height: 30px;
    line-height: 30px;
    font-size:12px;
    color:black;
    margin-left:5px;
}
#body .bodybox .goodslist .goodslistul>li .goodstitle .shangxin{
    display:inline-block;
    float:right;
    color:grey;
    margin-right:5px;
}



#foot{
    width: 100%;
    height: 380px;
    /*background: #786868;*/
    border-top:5px red solid;
}
#foot .footbox{
    width: 1100px;
    height: 355px;
    background: #fff;
    /*border-top:3px red solid;*/
}
#foot .footbox .footbox1{
    width: 1100px;
    height: 136px;
    margin-top:25px;
    background: #fff;
}
#foot .footbox .footbox1 .foot_ma{
    width: 90px;
    height: 136px;
    float:left;
}
#foot .footbox .footbox1 .foot_ma .app-txt{
    font-size:14px;
    line-height: 21px;
    height: 21px;
    width: 90px;
    margin-top:4px;
}
#foot .footbox .footbox1 .foot-info{
    float:left;
    margin-left:65px;
    width: 765px;
    height: 123px;
    background: #fff;
}
#foot .footbox .footbox1 .foot-info .info-ul>li{
    float:left;
}
#foot .footbox .footbox1 .foot-info .info-ul .update{
    height: 123px;
    width: 200px;
}
#foot .footbox .footbox1 .foot-info .info-ul .update>p{
    font-size:12px;
    height: 24px;
    line-height: 24px;
    color:grey;
}

#foot .footbox .footbox1 .foot-info .info-ul .info-last{
    width: 100px;
    height: 77px;
}
#foot .footbox .footbox1 .foot-info .info-ul .info-last>p{
    font-size:12px;
    height: 24px;
    line-height: 24px;
    color:grey;
}
#foot .footbox .footbox1 .foot-kefu{
    width: 161px;
    height: 54px;
    margin-top:35px;
    float:right;
}
#foot .footbox .footbox1 .foot-kefu>p{
    display:inline-block;
    font-size:12px;
    float:right;
}
#foot .footbox .footbox1 .foot-kefu .kefup1{

    width: 65px;
}
#foot .footbox .footbox1 .foot-kefu .kefup2{
    
    width: 65px;
}

#foot .footbox .footbox2{
    width: 1100px;
    height: 41px;
    background: #fff;
    border-bottom:1px dashed grey;
}
#foot .footbox .footbox2>ul>li{
    width: 72px;
    height: 18px;
    float:left;
    margin-top:10px;
    margin-left:10px;
}
#foot .footbox .footbox2>ul>li>a{
    font-size:12px;
    line-height: 18px;
    color:grey;
}
#foot .ft-company{
    height: 22px;
    font-size:12px;
    margin-top:20px;
    text-align: center;
}
#foot .footbox .foot-logo{
    width: 1100px;
    height: 51px;
    margin-top:10px;
    text-align: center;
}
#foot .footbox .foot-logo>img{
    margin-right:27px;
}


.xiding{
    z-index: 888;
    width: 100%;
    height: 50px;
    background: #fff;
    position:fixed;
    display:none;
    top:0px;
}

.xiding .xiding_nav .xiding_first>a{
    color:red;

}
.xiding .xiding_nav>li{
    width: 58px;
    height: 50px;
    float:left;
    font-size:12px;
    margin-right:10px;
    line-height: 50px;
}